*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction:row;
      height: 100vh;
      background-color:  hsl(210, 46%, 95%);
}
.container{
    width: 730px;
    height: auto;
    background-color:#fff;
    display: flex;
    font-family: 'Manrope', sans-serif;
    position: relative;
    border-radius: 3%;
}
/* image section */
.images{
    width: 280px;
    height: 280px;
    border-radius: 10px 0 0 10px;
}
/* content section */
.content{
    padding-left: 45px;
    padding-top: 30px;
}
.p1{
    color: hsl(217, 19%, 35%);
}
.p2{
    padding-top: 15px;
    line-height: 23px;
    font-size: 14px;
    color:  hsl(214, 17%, 51%);
    font-weight: 600;
}
/* logo section */
.logo{
    display: flex;
    padding-top:20px;
    justify-content: center;
    align-items: center;
}
.logo1{
    height: 40px;
    width: 38px;
    border-radius: 50%;
    margin-right: 18px;

}
.t1{
    margin-right:162px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}
.t1 span{
    color: hsl(212, 23%, 69%);
    font-size: 14px;
}
.t1::after{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:hsla(214, 17%, 51%, 0.473);
    position: absolute;
    top: 78.3%;
    right: 4.3%;
}
 
.log{
    position: relative;
    padding-right: 6px;

}
.share{
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 2rem;
    justify-content: center;
    align-items: center;
    display: none;

}
.log:hover .share{
    display: block;
    background-color:hsl(214, 17%, 51%);
}



 
